.questionarry-page {
	padding-top: 60px;
 	background-color: #F0F0F0;
 	font-family: 'Roboto';
 	font-weight: 500;
 	font-size: 1px;

 	&__contens {
		max-width: 648px;
		padding: 0 0 42px;
		margin: 0 auto 100px;
		background: url(../img/main_bg.png) repeat-y;
	}

	// Fix foudation bug in safari
	.grid-x {
		display: -webkit-box; 
		display: flex;
	}

	@media (max-width: 660px) {
		padding: 0;

		&__contens {
			max-width: 100%;
			margin: 0;
			padding: 0;
		}

		.my-skills__form {
			padding: 0;
		}
	}
}